<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {title: title}); %>
<body class="d-flex flex-column bg-black text-light">
<%- include("partials/header"); %>

<main class="my-3 flex-grow-1">
    <button type="button" id="up-btn"
            class="rounded-circle p-4 bg-primary text-white bi-arrow-up fs-1 lh-0 border-0">
    </button>
    <nav class="container">
        <ol class="breadcrumb py-2 mb-0">
            <li class="breadcrumb-item">
                <a href="/" class="link-primary text-decoration-none"><i class="bi-house-door"></i> Home</a>
            </li>
            <li class="breadcrumb-item text-light">
                <a href="/iphones/" class="link-primary text-decoration-none">Apple iPhone</a>
            </li>
            <li class="breadcrumb-item text-light"><%= name %></li>
        </ol>
    </nav>

    <section class="container my-3">
        <div class="bg-dark rounded-1">
            <div class="row p-4">
                <div class="col-12 col-lg-6">
                    <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="0"
                                    class="active"></button>
                            <% for (let i = 1; i < images.length; i++) { %>
                                <button type="button" data-bs-target="#productCarousel"
                                        data-bs-slide-to="<%= i %>"></button>
                            <% } %>
                        </div>
                        <div class="carousel-inner">
                            <% for (let i = 1; i < images.length; i++) { %>
                                <div class="carousel-item <%= (i === 1 ? "active" : "") %>">
                                    <img src="img/products/<%= images[i] %>" class="d-block w-100" alt="">
                                </div>
                            <% } %>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#productCarousel"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <h2 class="text-light"><%= name %></h2>
                    <div class="d-flex justify-content-between mt-3">
                        <p class="text-light fs-4 fw-bold mb-0">$ <%= price %></p>
                        <% if (isAvailable) { %>
                            <span class="text-success fw-bold border border-success rounded-3 py-1 px-3">
                            Available <i class="bi-check-circle"></i>
                        </span>
                        <% } else { %>
                            <span class="text-danger fw-bold border border-danger rounded-3 py-1 px-3">
                              Out of stock <i class="bi-x-circle"></i>
                        </span>
                        <% } %>
                    </div>
                    <hr>
                    <h6 class="text-secondary fs-5">Memory Size:</h6>
                    <div class="d-flex flex-wrap">
                        <a href="/iphone-<%= model %>-64-<%= color %>"
                           class="btn btn-outline-primary me-3 mt-2 <%= (memories.includes(64) ? "" : "d-none") %> <%= (memory === 64 ? "active" : "") %>">
                            64GB
                        </a>
                        <a href="/iphone-<%= model %>-128-<%= color %>"
                           class="btn btn-outline-primary me-3 mt-2 <%= (memories.includes(128) ? "" : "d-none") %> <%= (memory === 128 ? "active" : "") %>">
                            128GB
                        </a>
                        <a href="/iphone-<%= model %>-256-<%= color %>"
                           class="btn btn-outline-primary me-3 mt-2 <%= (memories.includes(256) ? "" : "d-none") %> <%= (memory === 256 ? "active" : "") %>">
                            256GB
                        </a>
                        <a href="/iphone-<%= model %>-512-<%= color %>"
                           class="btn btn-outline-primary me-3 mt-2 <%= (memories.includes(512) ? "" : "d-none") %> <%= (memory === 512 ? "active" : "") %>">
                            512GB
                        </a>
                        <a href="/iphone-<%= model %>-1024-<%= color %>"
                           class="btn btn-outline-primary me-3 mt-2 <%= (memories.includes(1024) ? "" : "d-none") %> <%= (memory === 1024 ? "active" : "") %>">
                            1TB
                        </a>
                    </div>
                    <hr>
                    <h6 class="text-secondary fs-5">Color:</h6>
                    <a href="/iphone-<%= model %>-<%= memory %>-blue"
                       class="btn rounded-circle me-3 mt-2 btn-color btn-hover-border <%= (colors.includes("blue") ? "" : "d-none") %> <%= (color === "blue" ? "active" : "") %> blue-color"></a>
                    <a href="/iphone-<%= model %>-<%= memory %>-red"
                       class="btn rounded-circle me-3 mt-2 btn-color btn-hover-border <%= (colors.includes("red") ? "" : "d-none") %> <%= (color === "red" ? "active" : "") %> red-color"></a>
                    <a href="/iphone-<%= model %>-<%= memory %>-green"
                       class="btn rounded-circle me-3 mt-2 btn-color btn-hover-border <%= (colors.includes("green") ? "" : "d-none") %> <%= (color === "green" ? "active" : "") %> green-color"></a>
                    <a href="/iphone-<%= model %>-<%= memory %>-pink"
                       class="btn rounded-circle me-3 mt-2 btn-color btn-hover-border <%= (colors.includes("pink") ? "" : "d-none") %> <%= (color === "pink" ? "active" : "") %> pink-color"></a>
                    <a href="/iphone-<%= model %>-<%= memory %>-midnight"
                       class="btn rounded-circle me-3 mt-2 btn-color btn-hover-border <%= (colors.includes("midnight") ? "" : "d-none") %> <%= (color === "midnight" ? "active" : "") %> midnight-color"></a>
                    <a href="/iphone-<%= model %>-<%= memory %>-starlight"
                       class="btn rounded-circle me-3 mt-2 btn-color btn-hover-border <%= (colors.includes("starlight") ? "" : "d-none") %> <%= (color === "starlight" ? "active" : "") %> starlight-color"></a>
                    <a href="/iphone-<%= model %>-<%= memory %>-alpineGreen"
                       class="btn rounded-circle me-3 mt-2 btn-color btn-hover-border <%= (colors.includes("alpineGreen") ? "" : "d-none") %> <%= (color === "alpineGreen" ? "active" : "") %> alpineGreen-color"></a>
                    <a href="/iphone-<%= model %>-<%= memory %>-black"
                       class="btn rounded-circle me-3 mt-2 btn-color btn-hover-border <%= (colors.includes("black") ? "" : "d-none") %> <%= (color === "black" ? "active" : "") %> black-color"></a>
                    <a href="/iphone-<%= model %>-<%= memory %>-gold"
                       class="btn rounded-circle me-3 mt-2 btn-color btn-hover-border <%= (colors.includes("gold") ? "" : "d-none") %> <%= (color === "gold" ? "active" : "") %> gold-color"></a>
                    <a href="/iphone-<%= model %>-<%= memory %>-graphite"
                       class="btn rounded-circle me-3 mt-2 btn-color btn-hover-border <%= (colors.includes("graphite") ? "" : "d-none") %> <%= (color === "graphite" ? "active" : "") %> graphite-color"></a>
                    <a href="/iphone-<%= model %>-<%= memory %>-pacificBlue"
                       class="btn rounded-circle me-3 mt-2 btn-color btn-hover-border <%= (colors.includes("pacificBlue") ? "" : "d-none") %> <%= (color === "pacificBlue" ? "active" : "") %> pacificBlue-color"></a>
                    <a href="/iphone-<%= model %>-<%= memory %>-purple"
                       class="btn rounded-circle me-3 mt-2 btn-color btn-hover-border <%= (colors.includes("purple") ? "" : "d-none") %> <%= (color === "purple" ? "active" : "") %> purple-color"></a>
                    <a href="/iphone-<%= model %>-<%= memory %>-sierraBlue"
                       class="btn rounded-circle me-3 mt-2 btn-color btn-hover-border <%= (colors.includes("sierraBlue") ? "" : "d-none") %> <%= (color === "sierraBlue" ? "active" : "") %> sierraBlue-color"></a>
                    <a href="/iphone-<%= model %>-<%= memory %>-silver"
                       class="btn rounded-circle me-3 mt-2 btn-color btn-hover-border <%= (colors.includes("silver") ? "" : "d-none") %> <%= (color === "silver" ? "active" : "") %> silver-color"></a>
                    <a href="/iphone-<%= model %>-<%= memory %>-white"
                       class="btn rounded-circle me-3 mt-2 btn-color btn-hover-border <%= (colors.includes("white") ? "" : "d-none") %> <%= (color === "white" ? "active" : "") %> white-color"></a>
                    <hr>
                    <div class="row justify-content-center">
                        <div class="col rating fs-3 d-flex justify-content-center align-items-center" id="rating">
                            <div class="rating__body d-flex flex-column align-items-center">
                                <div class="rating__value display-3 text-center"><%= rating %></div>
                                <div class="rating__points position-relative">
                                    <div class="rating__active"></div>
                                </div>
                                <a href="#reviews"
                                   class="review-anchor justify-content-center text-secondary fs-4">0
                                    s<i class="bi bi-arrow-down"></i></a>
                            </div>
                        </div>
                        <div class="col d-flex flex-column justify-content-between">
                            <div class="row">
                                <div class="col-2 text-center">5★</div>
                                <div class="col d-flex align-items-center justify-content-center">
                                    <div class="progress w-100" id="5-star">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25"
                                             aria-valuemin="0" aria-valuemax="100">5
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 text-center">4★</div>
                                <div class="col d-flex align-items-center justify-content-center">
                                    <div class="progress w-100" id="4-star">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25"
                                             aria-valuemin="0" aria-valuemax="100">5
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 text-center">3★</div>
                                <div class="col d-flex align-items-center justify-content-center">
                                    <div class="progress w-100" id="3-star">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25"
                                             aria-valuemin="0" aria-valuemax="100">5
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 text-center">2★</div>
                                <div class="col d-flex align-items-center justify-content-center">
                                    <div class="progress w-100" id="2-star">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25"
                                             aria-valuemin="0" aria-valuemax="100">5
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2 text-center">1★</div>
                                <div class="col d-flex align-items-center justify-content-center">
                                    <div class="progress w-100" id="1-star">
                                        <div class="progress-bar" role="progressbar" style="width: 25%;"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">5
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-sm-6 my-1">
                            <button class="btn btn-light w-100 fw-bold <%= isAvailable ? "" : "disabled" %>">Quick buy</button>
                        </div>
                        <div class="col-12 col-sm-6 my-1">
                            <button class="btn btn-primary w-100 fw-bold <%= isAvailable ? "" : "disabled" %>" id="buy"
                            data-productid="<%= productId %>">Buy now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container my-3">
        <div class="bg-dark p-4 rounded-1">
            <h2 class="text-center mb-3"><%= description.header %></h2>
            <p><%= description.paragraph %></p>
            <h4><%= description.listHeader %></h4>
            <ul>
                <% for (let li of description.listItems) { %>
                    <li><%= li %></li>
                <% } %>
            </ul>
            <div class="overflow-hidden position-relative" style="padding-top: 56.25%;">
                <iframe class="position-absolute top-0 start-0 w-100 h-100"
                        src="https://www.youtube.com/embed/<%= videoLink %>"
                        title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>

        </div>
    </section>

    <section class="container my-3">
        <div class="bg-dark rounded-1 p-4">
            <h3>Main Characteristics:</h3>
            <div class="row">
                <div class="col-12 col-lg-5 d-flex">
                    <span class="text-secondary fw-bold">Version</span>
                    <span class="dashes d-none d-lg-inline"></span>
                </div>
                <p class="col-12 col-lg-7 text-light"><%= characteristics.version %></p>
            </div>
            <div class="row">
                <div class="col-12 col-lg-5 d-flex">
                    <span class="text-secondary fw-bold">Size</span>
                    <span class="dashes d-none d-lg-inline"></span>
                </div>
                <p class="col-12 col-lg-7 text-light">
                    <%- characteristics.size %>
                </p>
            </div>
            <div class="row">
                <div class="col-12 col-lg-5 d-flex">
                    <span class="text-secondary fw-bold">Processor and frequency</span>
                    <span class="dashes d-none d-lg-inline"></span>
                </div>
                <p class="col-12 col-lg-7 text-light"><%- characteristics.cpu %></p>
            </div>
            <button type="button" class="btn text-white fw-bold w-100" id="characteristics-expander"
                    data-bs-toggle="collapse" data-bs-target="#collapse-characteristics">
                Show more
            </button>
            <div class="collapse" id="collapse-characteristics">
                <div class="row">
                    <div class="col-12 col-lg-5 d-flex">
                        <span class="text-secondary fw-bold">Camera</span>
                        <span class="dashes d-none d-lg-inline"></span>
                    </div>
                    <p class="col-12 col-lg-7 text-light"><%- characteristics.camera %></p>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-5 d-flex">
                        <span class="text-secondary fw-bold">Screen extensions and technology</span>
                        <span class="dashes d-none d-lg-inline"></span>
                    </div>
                    <p class="col-12 col-lg-7 text-light"><%- characteristics.screen %></p>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-5 d-flex">
                        <span class="text-secondary fw-bold">Moisture protection</span>
                        <span class="dashes d-none d-lg-inline"></span>
                    </div>
                    <p class="col-12 col-lg-7 text-light"><%- characteristics.protection %></p>
                </div>
                <button type="button" class="btn text-white fw-bold w-100" id="characteristics-collapser"
                        data-bs-toggle="collapse" data-bs-target="#collapse-characteristics">
                    Show less
                </button>
            </div>
        </div>
    </section>

    <section class="container my-5">
        <h3>Look for the accessories for <%= name %></h3>
        <hr class="my-2 my-sm-3">
        <div class="slick-carousel px-4">
            <div class="card border-0 mx-1 bg-dark position-relative d-flex flex-column justify-content-between card-transition">
                <img src="img/products/watch7-midnight.webp" class="card-img-top" alt="">
                <div class="card-body border-0 d-flex flex-column justify-content-between">
                    <h6 class="card-title text-center mb-2">Apple Watch Series 7 45mm Midnight</h6>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="fs-5 text-center w-50">$ 445</span>
                        <a href="#" class="btn btn-primary d-block w-50 stretched-link">Buy</a>
                    </div>
                </div>
            </div>
            <div class="card border-0 mx-1 bg-dark position-relative d-flex flex-column justify-content-between card-transition">
                <img src="img/products/airpods-2.webp" class="card-img-top" alt="">
                <div class="card-body border-0 d-flex flex-column justify-content-between">
                    <h6 class="card-title text-center mb-2">Apple AirPods 2</h6>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="fs-5 text-center w-50">$ 125</span>
                        <a href="#" class="btn btn-primary d-block w-50 stretched-link">Buy</a>
                    </div>
                </div>
            </div>
            <div class="card border-0 mx-1 bg-dark position-relative d-flex flex-column justify-content-between card-transition">
                <img src="img/products/watch7-midnight.webp" class="card-img-top" alt="">
                <div class="card-body border-0 d-flex flex-column justify-content-between">
                    <h6 class="card-title text-center mb-2">Apple Watch Series 7 45mm Midnight</h6>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="fs-5 text-center w-50">$ 445</span>
                        <a href="#" class="btn btn-primary d-block w-50 stretched-link">Buy</a>
                    </div>
                </div>
            </div>
            <div class="card border-0 mx-1 bg-dark position-relative d-flex flex-column justify-content-between card-transition">
                <img src="img/products/airpods-2.webp" class="card-img-top" alt="">
                <div class="card-body border-0 d-flex flex-column justify-content-between">
                    <h6 class="card-title text-center mb-2">Apple AirPods 2</h6>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="fs-5 text-center w-50">$ 125</span>
                        <a href="#" class="btn btn-primary d-block w-50 stretched-link">Buy</a>
                    </div>
                </div>
            </div>
            <div class="card border-0 mx-1 bg-dark position-relative d-flex flex-column justify-content-between card-transition">
                <img src="img/products/watch7-midnight.webp" class="card-img-top" alt="">
                <div class="card-body border-0 d-flex flex-column justify-content-between">
                    <h6 class="card-title text-center mb-2">Apple Watch Series 7 45mm Midnight</h6>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="fs-5 text-center w-50">$ 445</span>
                        <a href="#" class="btn btn-primary d-block w-50 stretched-link">Buy</a>
                    </div>
                </div>
            </div>
            <div class="card border-0 mx-1 bg-dark position-relative d-flex flex-column justify-content-between card-transition">
                <img src="img/products/airpods-2.webp" class="card-img-top" alt="">
                <div class="card-body border-0 d-flex flex-column justify-content-between">
                    <h6 class="card-title text-center mb-2">Apple AirPods 2</h6>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="fs-5 text-center w-50">$ 125</span>
                        <a href="#" class="btn btn-primary d-block w-50 stretched-link">Buy</a>
                    </div>
                </div>
            </div>
            <div class="card border-0 mx-1 bg-dark position-relative d-flex flex-column justify-content-between card-transition">
                <img src="img/products/watch7-midnight.webp" class="card-img-top" alt="">
                <div class="card-body border-0 d-flex flex-column justify-content-between">
                    <h6 class="card-title text-center mb-2">Apple Watch Series 7 45mm Midnight</h6>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="fs-5 text-center w-50">$ 445</span>
                        <a href="#" class="btn btn-primary d-block w-50 stretched-link">Buy</a>
                    </div>
                </div>
            </div>
            <div class="card border-0 mx-1 bg-dark position-relative d-flex flex-column justify-content-between card-transition">
                <img src="img/products/airpods-2.webp" class="card-img-top" alt="">
                <div class="card-body border-0 d-flex flex-column justify-content-between">
                    <h6 class="card-title text-center mb-2">Apple AirPods 2</h6>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="fs-5 text-center w-50">$ 125</span>
                        <a href="#" class="btn btn-primary d-block w-50 stretched-link">Buy</a>
                    </div>
                </div>
            </div>
            <div class="card border-0 mx-1 bg-dark position-relative d-flex flex-column justify-content-between card-transition">
                <img src="img/products/watch7-midnight.webp" class="card-img-top" alt="">
                <div class="card-body border-0 d-flex flex-column justify-content-between">
                    <h6 class="card-title text-center mb-2">Apple Watch Series 7 45mm Midnight</h6>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="fs-5 text-center w-50">$ 445</span>
                        <a href="#" class="btn btn-primary d-block w-50 stretched-link">Buy</a>
                    </div>
                </div>
            </div>
            <div class="card border-0 mx-1 bg-dark position-relative d-flex flex-column justify-content-between card-transition">
                <img src="img/products/airpods-2.webp" class="card-img-top" alt="">
                <div class="card-body border-0 d-flex flex-column justify-content-between">
                    <h6 class="card-title text-center mb-2">Apple AirPods 2</h6>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="fs-5 text-center w-50">$ 125</span>
                        <a href="#" class="btn btn-primary d-block w-50 stretched-link">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container my-3" id="reviews">
        <h3>Reviews about <%= name %></h3>
        <hr class="my-2 my-sm-3">
        <div class="row">
            <form id="feedback-form" class="col-12 col-lg-5 needs-validation" novalidate>
                <div class="d-flex align-items-center">
                    <input type="text" placeholder="Name" class="form-control w-50 me-3" value="<%= firstName %>" required>
                    <div class="evaluation d-flex align-items-end fs-1 lh-1">
                        <div class="evaluation__body position-relative">
                            <div class="evaluation__active"></div>
                            <div class="evaluation__items d-flex">
                                <input type="radio" name="evaluation" class="evaluation__item" value="1">
                                <input type="radio" name="evaluation" class="evaluation__item" value="2">
                                <input type="radio" name="evaluation" class="evaluation__item" value="3">
                                <input type="radio" name="evaluation" class="evaluation__item" value="4">
                                <input type="radio" name="evaluation" class="evaluation__item" value="5">
                            </div>
                        </div>
                        <div class="evaluation__value ps-3">0</div>
                    </div>
                </div>
                <textarea class="form-control my-3" rows="7" required
                          placeholder="Write a review about the purchase of this product"></textarea>
                <button class="btn bg-primary fw-bold w-100">Send</button>
            </form>
            <div class="col-12 col-lg-7">
                <% for (let comment of comments) { %>
                    <article class="bg-dark rounded-1 my-3 p-4">
                        <div class="fs-4 bi-people-fill">
                            <span class="fs-3"><%= comment.authorName %></span><span
                                    class="text-secondary fs-5"> - <%= comment.date %></span>
                        </div>
                        <button class="<%= (comment.userId === id) ? "" : "d-none" %> btn btn-danger bi-trash-fill"> Delete</button>
                        <div class="stars d-flex align-items-end fs-4 lh-1">
                            <div class="stars__body position-relative">
                                <div class="stars__active"></div>
                            </div>
                            <div class="stars__value ms-2"><%= comment.rating %></div>
                        </div>
                        <p class="fs-5 mb-0 text-opacity-75"><%= comment.text %></p>
                    </article>
                <% } %>
            </div>
        </div>
    </section>

    <div class="alert text-black visually-hidden position-fixed p-2 m-2 opacity-0" role="alert"
         style="background-color: #FFC107FF; transition: visibility 10s, opacity .5s; bottom: 10px; left: 10px">
        <%- firstName ? "<i class='bi-cart-check-fill fs-5'></i> Product added to cart" : "<i class='bi-cart-x-fill fs-5'></i> Please Log In to buy products!" %>
    </div>
</main>

<%- include("partials/footer"); %>
<script src="/js/bootstrap.bundle.min.js"></script>
<% if (!firstName) { %>
    <script src="/js/sign-up-form-validation.js"></script>
    <script src="/js/log-in-popover.js"></script>
<% } %>
<script src="/js/jquery.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/slick-config.js"></script>
<script>
    let anchorButton = document.querySelector('#up-btn');

    document.addEventListener("scroll",
        () => window.scrollY > 300 ? anchorButton.classList.add("scale-1") : anchorButton.classList.remove("scale-1")
    );

    anchorButton.addEventListener("click", () => window.scrollTo({top: 0}));

    const characteristicsExpander = document.getElementById("characteristics-expander");

    characteristicsExpander
        .addEventListener("click", () => characteristicsExpander.hidden = true);

    document.getElementById("characteristics-collapser")
        .addEventListener("click", () => characteristicsExpander.hidden = false);

    document.querySelector("#feedback-form.needs-validation").addEventListener('submit', function (event) {
        if (!this.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
        }
        this.classList.add('was-validated');
    }, false);


    // feedback-rating
    const feedbackRating = document.querySelector('.evaluation');

    let feedbackRatingActive = feedbackRating.querySelector('.evaluation__active');

    let feedbackRatingValue = feedbackRating.querySelector('.evaluation__value');

    setActiveWidth();

    function setActiveWidth(width = feedbackRatingValue.innerHTML) {
        feedbackRatingActive.style.width = `${width / 0.05}%`;
    }

    const radioItems = feedbackRating.querySelectorAll('.evaluation__item');

    for (let i = 0; i < radioItems.length; i++) {
        const radioItem = radioItems[i];

        radioItem.addEventListener('mouseenter', () => {
            setActiveWidth(radioItem.value);
        });

        radioItem.addEventListener('mouseleave', () => {
            setActiveWidth();
        });

        radioItem.addEventListener('click', () => {
            feedbackRatingValue.innerHTML = i + 1;
            setActiveWidth();
        })
    }

    // main-rating
    const allRates = document.querySelectorAll('.stars__value')

    const reviewAmount = allRates.length;

    let rateAmounts = {"5" : 0, "4" : 0, "3" : 0, "2" : 0, "1" : 0};

    for (let element of allRates) {
        rateAmounts[element.innerHTML]++;
    }

    const mainRating = document.querySelector('.rating');

    let mainRatingValue = mainRating.querySelector('.rating__value');


    let mainRatingActive = mainRating.querySelector('.rating__active');

    mainRatingActive.style.width = `${mainRatingValue.innerHTML / 0.05}%`;

    const allProgresses = document.querySelectorAll('.progress-bar');


    for (let index = 0; index < allProgresses.length; index++) {
        const currentProgress = allProgresses[index];
        currentProgress.innerHTML = rateAmounts[5 - index];
        currentProgress.style.width = `${rateAmounts[5 - index] * 100 / reviewAmount}%`;
    }

    const anchor = document.querySelector('.review-anchor');

    anchor.innerHTML = `${reviewAmount} reviews`;

    //reviews-rating
    const allRatings = document.querySelectorAll('.stars');

    if (allRatings.length > 0) {
        initRatings();
    }

    function initRatings() {
        let ratingActive, ratingValue;

        for (let i = 0; i < allRatings.length; i++) {
            const currentRating = allRatings[i];
            initRating(currentRating);
        }


        function initRating(rating) {
            initVariables(rating);
            setActiveWidth();
        }

        function initVariables(rating) {
            ratingActive = rating.querySelector('.stars__active');
            ratingValue = rating.querySelector('.stars__value');
        }

        function setActiveWidth(starsAmount = ratingValue.innerHTML) {
            ratingActive.style.width = `${starsAmount / 0.05}%`;
        }
    }
</script>
<script>
    const buyButton = document.querySelector('#buy');
    const cartAlert = document.querySelector('.alert');

    buyButton.addEventListener('click', () => {
        cartAlert.classList.remove('visually-hidden');
        cartAlert.classList.remove('opacity-0');
        setTimeout(() => {
            cartAlert.classList.add('opacity-0');
            setTimeout(() => {
                cartAlert.classList.add('visually-hidden');
            }, 150);
        }, 10000);
        fetch('/add-to-cart', {
            method: "POST",
            body: buyButton.dataset.productId
        });
    });
</script>
</body>
</html>