<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {title: title}); %>
<body class="d-flex flex-column bg-black text-light">
<%- include("partials/header"); %>

<main class="flex-grow-1 container my-3 my-lg-4 text-light">
    <div class="row g-2 g-lg-3">
        <nav class="col-12 col-lg-9 col-xl-9 order-0">
            <ol class="breadcrumb p-2 mb-0">
                <li class="breadcrumb-item"><a href="/" class="link-primary text-decoration-none">
                        <i class="bi-house-door"></i> Home</a>
                </li>
                <li class="breadcrumb-item text-light">Apple iPhone</li>
            </ol>
        </nav>
        <form class="col-12 col-lg-3 order-lg-2" method="get" id="filter">
            <div class="accordion collapse show" id="filter-accordion">
                <div class="accordion-item bg-dark mb-2 mb-lg-3 bg-dark">
                    <h2 class="accordion-header">
                        <button type="button" data-bs-toggle="collapse" data-bs-target="#model-panel"
                                class="accordion-button text-light fw-bold"> Model
                        </button>
                    </h2>
                    <div id="model-panel" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <div class="form-check mb-1">
                                <input type="checkbox" name="model" value="13ProMax" id="iphone-13ProMax"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredModels.includes("13ProMax") ? "" : "disabled") %>
                                        <%= (models.includes("13ProMax") ? "checked" : "") %>>
                                <label class="form-check-label" for="iphone-13ProMax">iPhone 13 Pro Max</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="model" value="13Pro" id="iphone-13Pro"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredModels.includes("13Pro") ? "" : "disabled") %>
                                        <%= (models.includes("13Pro") ? "checked" : "") %>>
                                <label class="form-check-label" for="iphone-13Pro">iPhone 13 Pro</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="model" value="13" id="iphone-13"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredModels.includes("13") ? "" : "disabled") %>
                                        <%= (models.includes("13") ? "checked" : "") %>>
                                <label class="form-check-label" for="iphone-13">iPhone 13</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="model" value="13Mini" id="iphone-13Mini"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredModels.includes("13Mini") ? "" : "disabled") %>
                                        <%= (models.includes("13Mini") ? "checked" : "") %>>
                                <label class="form-check-label" for="iphone-13Mini">iPhone 13 Mini</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="model" value="12ProMax" id="iphone-12ProMax"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredModels.includes("12ProMax") ? "" : "disabled") %>
                                        <%= (models.includes("12ProMax") ? "checked" : "") %>>
                                <label class="form-check-label" for="iphone-12ProMax">iPhone 12 Pro Max</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="model" value="12Pro" id="iphone-12Pro"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredModels.includes("12Pro") ? "" : "disabled") %>
                                        <%= (models.includes("12Pro") ? "checked" : "") %>>
                                <label class="form-check-label" for="iphone-12Pro">iPhone 12 Pro</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="model" value="12" id="iphone-12"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredModels.includes("12") ? "" : "disabled") %>
                                        <%= (models.includes("12") ? "checked" : "") %>>
                                <label class="form-check-label" for="iphone-12">iPhone 12</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="model" value="12Mini" id="iphone-12Mini"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredModels.includes("12Mini") ? "" : "disabled") %>
                                        <%= (models.includes("12Mini") ? "checked" : "") %>>
                                <label class="form-check-label" for="iphone-12Mini">iPhone 12 Mini</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="model" value="11" id="iphone-11"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredModels.includes("11") ? "" : "disabled") %>
                                        <%= (models.includes("11") ? "checked" : "") %>>
                                <label class="form-check-label" for="iphone-11">iPhone 11</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="model" value="xr" id="iphone-xr"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredModels.includes("xr") ? "" : "disabled") %>
                                        <%= (models.includes("xr") ? "checked" : "") %>>
                                <label class="form-check-label" for="iphone-xr">iPhone XR</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="model" value="se2022" id="iphone-se2022"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredModels.includes("se2022") ? "" : "disabled") %>
                                        <%= (models.includes("se2022") ? "checked" : "") %>>
                                <label class="form-check-label" for="iphone-se2022">iPhone SE 2022</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="model" value="se2020" id="iphone-se2020"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredModels.includes("se2020") ? "" : "disabled") %>
                                        <%= (models.includes("se2020") ? "checked" : "") %>>
                                <label class="form-check-label" for="iphone-se2020">iPhone SE 2020</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item bg-dark mb-2 mb-lg-3 bg-dark">
                    <h2 class="accordion-header">
                        <button type="button" data-bs-toggle="collapse" data-bs-target="#memory-panel"
                                class="accordion-button collapsed text-light fw-bold"> Memory
                        </button>
                    </h2>
                    <div id="memory-panel" class="accordion-collapse collapse <%= (memories.length ? "show" : "") %>">
                        <div class="accordion-body">
                            <div class="form-check mb-1">
                                <input type="checkbox" name="memories" value="1024" id="1024gb"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredMemories.includes("1024")) ? "" : "disabled" %>
                                        <%= (memories.includes("1024") ? "checked" : "") %>>
                                <label class="form-check-label" for="1024gb">1 TB</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="memories" value="512" id="512gb"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredMemories.includes("512")) ? "" : "disabled" %>
                                        <%= (memories.includes("512") ? "checked" : "") %>>
                                <label class="form-check-label" for="512gb">512 GB</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="memories" value="256" id="256gb"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredMemories.includes("256")) ? "" : "disabled" %>
                                        <%= (memories.includes("256") ? "checked" : "") %>>
                                <label class="form-check-label" for="256gb">256 GB</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="memories" value="128" id="128gb"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredMemories.includes("128")) ? "" : "disabled" %>
                                        <%= (memories.includes("128") ? "checked" : "") %>>
                                <label class="form-check-label" for="128gb">128 GB</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="memories" value="64" id="64gb"
                                       class="form-check-input rounded-1 me-3"
                                        <%= (filteredMemories.includes("64")) ? "" : "disabled" %>
                                        <%= (memories.includes("64") ? "checked" : "") %>>
                                <label class="form-check-label" for="64gb">64 GB</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item bg-dark mb-2 mb-lg-3 bg-dark">
                    <h2 class="accordion-header">
                        <button type="button" data-bs-toggle="collapse" data-bs-target="#color-panel"
                                class="accordion-button collapsed text-light fw-bold"> Color
                        </button>
                    </h2>
                    <div id="color-panel" class="accordion-collapse collapse <%= (colors.length ? "show" : "") %>">
                        <div class="accordion-body">
                            <div class="form-check mb-1">
                                <input type="checkbox" name="color" value="alpineGreen" id="alpineGreen"
                                       class="form-check-input rounded-1 me-3 border alpineGreen-color"
                                        <%= (filteredColors.includes("alpineGreen")) ? "" : "disabled" %>
                                        <%= (colors.includes("alpineGreen") ? "checked" : "") %>>
                                <label class="form-check-label" for="alpineGreen">Alpine Green</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="color" value="black" id="black"
                                       class="form-check-input rounded-1 me-3 border black-color"
                                        <%= (filteredColors.includes("black")) ? "" : "disabled" %>
                                        <%= (colors.includes("black") ? "checked" : "") %>>
                                <label class="form-check-label" for="black">Black</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="color" value="blue" id="blue"
                                       class="form-check-input rounded-1 me-3 border blue-color"
                                        <%= (filteredColors.includes("blue")) ? "" : "disabled" %>
                                        <%= (colors.includes("blue") ? "checked" : "") %>>
                                <label class="form-check-label" for="blue">Blue</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="color" value="gold" id="gold"
                                       class="form-check-input rounded-1 me-3 border-secondary check-invert gold-color"
                                        <%= (filteredColors.includes("gold")) ? "" : "disabled" %>
                                        <%= (colors.includes("gold") ? "checked" : "") %>>
                                <label class="form-check-label" for="gold">Gold</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="color" value="graphite" id="graphite"
                                       class="form-check-input rounded-1 me-3 border graphite-color"
                                        <%= (filteredColors.includes("graphite")) ? "" : "disabled" %>
                                        <%= (colors.includes("graphite") ? "checked" : "") %>>
                                <label class="form-check-label" for="graphite">Graphite</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="color" value="green" id="green"
                                       class="form-check-input rounded-1 me-3 border green-color"
                                        <%= (filteredColors.includes("green")) ? "" : "disabled" %>
                                        <%= (colors.includes("green") ? "checked" : "") %>>
                                <label class="form-check-label" for="green">Green</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="color" value="midnight" id="midnight"
                                       class="form-check-input rounded-1 me-3 border midnight-color"
                                        <%= (filteredColors.includes("midnight")) ? "" : "disabled" %>
                                        <%= (colors.includes("midnight") ? "checked" : "") %>>
                                <label class="form-check-label" for="midnight">Midnight</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="color" value="pacificBlue" id="pacificBlue"
                                       class="form-check-input rounded-1 me-3 border pacificBlue-color"
                                        <%= (filteredColors.includes("pacificBlue")) ? "" : "disabled" %>
                                        <%= (colors.includes("pacificBlue") ? "checked" : "") %>>
                                <label class="form-check-label" for="pacificBlue">Pacific Blue</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="color" value="pink" id="pink"
                                       class="form-check-input rounded-1 me-3 border pink-color"
                                        <%= (filteredColors.includes("pink")) ? "" : "disabled" %>
                                        <%= (colors.includes("pink") ? "checked" : "") %>>
                                <label class="form-check-label" for="pink">Pink</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="color" value="purple" id="purple"
                                       class="form-check-input rounded-1 me-3 border-secondary check-invert purple-color"
                                        <%= (filteredColors.includes("purple")) ? "" : "disabled" %>
                                        <%= (colors.includes("purple") ? "checked" : "") %>>
                                <label class="form-check-label" for="purple">Purple</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="color" value="red" id="red"
                                       class="form-check-input rounded-1 me-3 border red-color"
                                        <%= (filteredColors.includes("red")) ? "" : "disabled" %>
                                        <%= (colors.includes("red") ? "checked" : "") %>>
                                <label class="form-check-label" for="red">Red</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="color" value="sierraBlue" id="sierraBlue"
                                       class="form-check-input rounded-1 me-3 border sierraBlue-color"
                                        <%= (filteredColors.includes("sierraBlue")) ? "" : "disabled" %>
                                        <%= (colors.includes("sierraBlue") ? "checked" : "") %>>
                                <label class="form-check-label" for="sierraBlue">Sierra Blue</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="color" value="silver" id="silver"
                                       class="form-check-input rounded-1 me-3 border-secondary check-invert silver-color"
                                        <%= (filteredColors.includes("silver")) ? "" : "disabled" %>
                                        <%= (colors.includes("silver") ? "checked" : "") %>>
                                <label class="form-check-label" for="silver">Silver</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="color" value="starlight" id="starlight"
                                       class="form-check-input rounded-1 me-3 border-secondary check-invert starlight-color"
                                        <%= (filteredColors.includes("starlight")) ? "" : "disabled" %>
                                        <%= (colors.includes("starlight") ? "checked" : "") %>>
                                <label class="form-check-label" for="starlight">Starlight</label>
                            </div>
                            <div class="form-check mb-1">
                                <input type="checkbox" name="color" value="white" id="white"
                                       class="form-check-input rounded-1 me-3 border-secondary check-invert white-color"
                                        <%= (filteredColors.includes("white")) ? "" : "disabled" %>
                                        <%= (colors.includes("white") ? "checked" : "") %>>
                                <label class="form-check-label" for="white">White</label>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/iphones/<%= sort %>" type="button" class="btn btn-dark rounded-1 w-100 bi-x-lg">
                    Clear Filter
                </a>
            </div>
            <input type="submit" hidden>
        </form>
        <div class="col-12 col-lg-3 col-xl-3 order-lg-1">
            <div class="dropdown">
                <button class="btn bg-dark rounded-1 text-light w-100 dropdown-toggle bi-arrow-down-up shadow-none p-2 border-0 text-lg-end pe-lg-0"
                        type="button" data-bs-toggle="dropdown" id="sort-btn"> Sort by:
                    <span class="text-primary">
                        <%= (sort === "newest" ? "Newest" : "") %>
                        <%= (sort === "top" ? "Top Rating" : "") %>
                        <%= (sort === "asc" ? "Price: Low - High" : "") %>
                        <%= (sort === "desc" ? "Price: High - Low" : "") %>
                    </span>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end rounded-1">
                    <li><a class="btn dropdown-item px-4 bi-calendar-range <%= (sort === "newest" ? "active" : "") %>"
                           href="/iphones/newest/?<%= queryString %>"> Newest</a></li>
                    <li><a class="btn dropdown-item px-4 bi-star-fill <%= (sort === "top" ? "active" : "") %>"
                           href="/iphones/top/?<%= queryString %>"> Top Rating</a></li>
                    <li><a class="btn dropdown-item px-4 bi-arrow-up-right <%= (sort === "asc" ? "active" : "") %>"
                           href="/iphones/asc/?<%= queryString %>"> Price: Low - High</a></li>
                    <li><a class="btn dropdown-item px-4 bi-arrow-down-right <%= (sort === "desc" ? "active" : "") %>"
                           href="/iphones/desc/?<%= queryString %>"> Price: High - Low</a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-9 order-lg-3">
            <div class="row g-2 g-lg-3 d-flex flex-wrap">
                <%
                if (products.length) {
                for (let i = (page - 1) * 12; i < page * 12 && i < products.length; i++) {
                %>
                    <div class="col-6 col-sm-4 col-xl-3">
                        <div class="card border-0 bg-dark position-relative card-transition h-100">
                            <img src="/img/products/<%= products[i].images[0] %>" class="card-img-top" alt="">
                            <div class="card-body p-2 d-flex flex-column justify-content-between">
                                <h6 class="card-title text-center mb-2"><%= products[i].name %></h6>
                                <div class="d-flex justify-content-center align-items-center">
                                    <span class="fs-5 text-center w-50">$ <%= products[i].price %></span>
                                    <a href="<%= `/iphone-${products[i].model}-${products[i].memory}-${products[i].color}` %>"
                                       class="btn btn-primary d-block w-50 fw-bold stretched-link">Buy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <%
                }
                } else {
                %>
                    <h4>No products found matching the filter.</h4>
                <% } %>
            </div>
            <% if (products.length) { %>
                <div class="row mt-2 mt-lg-3">
                    <nav>
                        <ul class="pagination bg-dark rounded-1 justify-content-center mb-0">
                            <li class="page-item <%= (page === 1 ? "disabled" : "") %>">
                                <a class="page-link"
                                   href="/iphones<%= (sort ? `/${sort}/` : "") + `?${queryString}&page=${page - 1}` %>">Previous</a>
                            </li>
                            <% for (let i = 1; i <= pages; i++) { %>
                                <li class="page-item <%= (page === i ? "active" : "") %>">
                                    <a class="page-link rounded-1"
                                       href="/iphones<%= (sort ? `/${sort}/` : "") + `?${queryString}&page=${i}` %>"><%= i %></a>
                                </li>
                            <% } %>
                            <li class="page-item <%= (pages - page === 0 ? "disabled" : "") %>">
                                <a class="page-link rounded-1"
                                   href="/iphones<%= (sort ? `/${sort}/` : "") + `?${queryString}&page=${page + 1}` %>">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            <% } %>
        </div>
    </div>
</main>

<%- include("partials/footer"); %>
</body>
</html>
