<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {title: title}); %>
<body class="d-flex flex-column bg-black text-light">
<%- include("partials/header"); %>

<main class="flex-grow-1 container my-3 my-lg-4 text-light">
    <div class="row g-2 g-lg-3">
        <nav class="col-12 col-lg-9 col-xl-9 order-0">
            <ol class="breadcrumb p-2 mb-0">
                <li class="breadcrumb-item"><a href="/" class="link-primary text-decoration-none">
                        <i class="bi-house-door"></i> Home</a>
                </li>
                <li class="breadcrumb-item text-light">Search products</li>
            </ol>
        </nav>
        <div class="col-12 order-lg-2">
            <h2>Search results for keywords "<%= keywords.join(" ") %>".</h2>
            <hr class="my-2">
        </div>
        <div class="col-12 col-lg-3 order-lg-3">
            <form action="" class="bg-dark rounder-1 p-4">
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input rounded-1 me-3" id="iphones">
                    <label class="form-check-label" for="iphones">iPhones(<%= products.length %>)</label>
                </div>
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input rounded-1 me-3" id="iphones">
                    <label class="form-check-label" for="iphones">iPads(0)</label>
                </div>
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input rounded-1 me-3" id="iphones">
                    <label class="form-check-label" for="iphones">Macs(0)</label>
                </div>
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input rounded-1 me-3" id="iphones">
                    <label class="form-check-label" for="iphones">Apple Watchs(0)</label>
                </div>
                <div class="form-check mb-2">
                    <input type="checkbox" class="form-check-input rounded-1 me-3" id="iphones">
                    <label class="form-check-label" for="iphones">AirPods(0)</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input rounded-1 me-3" id="iphones">
                    <label class="form-check-label" for="iphones">Accessories(0)</label>
                </div>
            </form>
            <input type="submit" hidden>
        </div>
        <div class="col-12 col-lg-3 col-xl-3 order-lg-1">
            <div class="dropdown">
                <button class="btn bg-dark rounded-1 text-light w-100 dropdown-toggle bi-arrow-down-up shadow-none p-2 border-0 text-lg-end pe-lg-0"
                        type="button" data-bs-toggle="dropdown" id="sort-btn"> Sort by:
                    <span class="text-primary">
                        <%= (sort === "newest" ? "Newest" : "") %>
                        <%= (sort === "top" ? "Top Rating" : "") %>
                        <%= (sort === "asc" ? "Price: Low - High" : "") %>
                        <%= (sort === "desc" ? "Price: High - Low" : "") %>
                    </span>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end rounded-1">
                    <li><a class="btn dropdown-item px-4 bi-calendar-range <%= (sort === "newest" ? "active" : "") %>"
                           href="/search/newest/?keywords<%= keywords %>"> Newest</a></li>
                    <li><a class="btn dropdown-item px-4 bi-star-fill <%= (sort === "top" ? "active" : "") %>"
                           href="/search/top/?keywords<%= keywords %>"> Top Rating</a></li>
                    <li><a class="btn dropdown-item px-4 bi-arrow-up-right <%= (sort === "asc" ? "active" : "") %>"
                           href="/search/asc/?keywords<%= keywords %>"> Price: Low - High</a></li>
                    <li><a class="btn dropdown-item px-4 bi-arrow-down-right <%= (sort === "desc" ? "active" : "") %>"
                           href="/search/desc/?keywords<%= keywords %>"> Price: High - Low</a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-9 order-lg-4">
            <div class="row g-2 g-lg-3 d-flex flex-wrap align-items-start">
                <%
                if (products.length) {
                for (let i = (page - 1) * 11; i < products.length; i++) {
                %>
                    <div class="col-6 col-sm-4 col-xl-3">
                        <div class="card border-0 bg-dark position-relative card-transition">
                            <img src="/img/products/<%= products[i].img %>" class="card-img-top" alt="">
                            <div class="card-body p-2">
                                <h6 class="card-title text-center mb-2"><%= products[i].name %></h6>
                                <div class="d-flex justify-content-center align-items-center">
                                    <span class="fs-5 text-center w-50">$ <%= products[i].price %></span>
                                    <a href="<%= products[i].productPageHref %>"
                                       class="btn btn-primary d-block w-50 fw-bold stretched-link">Buy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <%
                }
                } else {
                %>
                    <h4>No products found matching the filter.</h4>
                <% } %>
            </div>
            <% if (products.length) { %>
                <div class="row mt-2 mt-lg-3">
                    <nav>
                        <ul class="pagination bg-dark rounded-1 justify-content-center mb-0">
                            <li class="page-item <%= (page === 1 ? "disabled" : "") %>">
                                <a class="page-link"
                                   href="/search<%= (sort ? `/${sort}/` : "") + `?keywords=${keywords.join(" ")}&page=${page - 1}` %>">Previous</a>
                            </li>
                            <% for (let i = 1; i <= pages; i++) { %>
                                <li class="page-item <%= (page === i ? "active" : "") %>">
                                    <a class="page-link rounded-1"
                                       href="/search<%= (sort ? `/${sort}/` : "") + `?keywords=${keywords.join(" ")}&page=${i}` %>"><%= i %></a>
                                </li>
                            <% } %>
                            <li class="page-item <%= (pages - page === 0 ? "disabled" : "") %>">
                                <a class="page-link rounded-1"
                                   href="/search<%= (sort ? `/${sort}/` : "") + `?keywords=${keywords.join(" ")}&page=${page + 1}` %>">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            <% } %>
        </div>
    </div>
</main>

<%- include("partials/footer"); %>
<script src="/js/bootstrap.bundle.min.js"></script>
<% if (!firstName) { %>
    <script src="/js/sign-up-form-validation.js"></script>
    <script src="/js/log-in-popover.js"></script>
<% } %>
</body>
</html>
